%h1 Project Tests

%table
  %thead
    %tr
      %th Type
      %th Name
      %th Est. Runtime
      %th
  %tbody
    - tests.each do |test|
      - type, name = test_type_and_name(test)
      %tr
        %td= type
        %td= name
        %td= test['est_runtime']
