%h1 Project Tests

%table
  %thead
    %tr
      %th Type
      %th Name
      %th Est. Runtime
      %th
  %tbody
    - tests.each do |test|
      %tr
        %td= test.type
        %td= test.name
        %td= test.est_runtime

